@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-color: rgb(249, 228, 222);
}

.header {
  font-family: 'Quicksand';
  font-size: 24px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.blog-date{
  text-align: center;
  font-size: 16px;
}

.blog-content {
  margin-left: 15%;
  margin-right: 15%;
}

.blog-img-horizontal {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-img-vertical {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: 'Source Sans Pro';
  text-align: left;
}