@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-color: rgb(194, 221, 228);
}

.intro {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: 11%;
}

.header {
  font-family: 'Quicksand';
  font-size: 24px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.introText {
  width: 31%;
}

.creation {
  text-align: center;
  font-family: 'Source Sans Pro';
}

.pfp {
  width: 200px;
  height: auto;
}

p {
  font-family: 'Source Sans Pro';
  text-align: left;
}

.App {
  text-align: center;
}